body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header */

/* .header .container {
    display: flex;
} */
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-right: 237px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}

.current {
  font-weight: 600;
}

.header-list-button {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.header-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.header-sign-in {
  min-width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;
}

.header-sign-up {
  min-width: 113px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  color: #fff;
}

/* hero */
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text-wrap {
  max-width: 465px;
}

.hero-title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  max-width: 400px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.55556;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn-start {
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}

.hero-btn-watch {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
  display: flex;
  align-items: center;
  gap: 9px;
}
.hero-btn-watch:hover,
.hero-btn-watch:focus{
  color: #173a56;
}
/* .hero-btn-watch:hover > .hero-btn-watch-icon,
.hero-btn-watch:focus > .hero-btn-watch-icon {
  fill: #173a56;
} */
.hero-btn-watch-icon{
  fill: currentColor;
}
/* product */
.product {
  padding: 50px 0;
}

.product-title {
  font-size: 32px;
  text-align: center;
  max-width: 535px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}
.product-icon-wrap {
  border-radius: 19px;
    width: 54px;
    height: 54px;
    background-color: #02897a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}
.product-icon-wrap-second{
  background-color: #4d8dff;
}
.product-icon-wrap-third{
  background-color: #740a76;
}
.product-icon-wrap-fourth{
background-color: #f03e3d;
}
.product-icon {
  fill: #fff;
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.625;
}

.product-btn {
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  background-color: #02897a;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  display: block;
}
.management {
 padding: 50px 0;
}
.management .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.management-text-wrap{
  max-width: 486px;
}
.management-title {
  /* display: flex;
  flex-direction: column;
  gap: 8px; */

  font-size: 32px;
  margin-bottom: 25px;
}

.management-title-part {
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.management-text {
  margin-bottom: 30px;
  line-height: 1.625;
}

.management-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.management-item {}

.management-subtitle {
  font-weight: 600;
  line-height: 1.625;
  margin-bottom: 12px;
}

.management-desc {
  line-height: 1.625;
}
/* process */
.process {
  padding-top: 75px;
  padding-bottom: 50px;
}

.process-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.process-text {
  font-weight: 500;
  line-height: 1.625;
    text-align: center;
    width: 542px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 91px;
  margin-bottom: 50px;
}

.process-item {
  width: calc((100% - 91px) / 2);
  display: flex;
  align-items: center;
  gap: 20px;
}
.process-desk-wrap{
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
      width: 281px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;

}
.process-desk {
    font-weight: 500;
    color: #2f281e;
   
}

.process-btn {
  width: 216px;
    height: 53px;
    border: none;
    border-radius: 4px;
    background-color: #02897a;
    font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      margin-left: auto;
      margin-right: auto;
      display: block;
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer-wrapper{
  display: flex;
  margin-bottom: 16px;
}
.footer-logo-wrap{
  margin-right: 146px;
}
.logo-footer{
  margin-right: 0;
  margin-bottom: 18px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  background-color: #edfffc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.footer-soc-link:hover,
.footer-soc-link:focus{
  background-color: #b7cef5;
}

.footer-title {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
      color: #22343d;
      margin-bottom: 10px;
}

.footer-link {
  line-height: 2.1875;
    color: #22343d;
}
.footer-link:hover,
.footer-link:focus{
  color: #02897a;
}
.footer-resource-wrap{
  margin-right: 129px;
}
.footer-form-wrap {
  margin-left: auto;
  max-width: 325px;
}
.footer-title-form{
  margin-bottom: 30px;
  max-width: 296px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start
}

.footer-form-input {
  width: 325px;
    height: 48px;
    border: 1px solid #bcd0e5;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    padding-left: 42px;
}
.footer-form-input::placeholder{
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.footer-form-btn {
  min-width: 131px;
    height: 39px;
    border-radius: 4px;
    background-color: #02897a;
    border: none;
    font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #fff;
}
.footer-input-wrap{
  position: relative;
}
.footer-form-icon{
  fill: #02897a;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-desc {
  line-height: 1.875;
  text-align: center;
}
